/* index html */
* {
    box-sizing: border-box;
}

.navigation {
    padding: 30px;
}

.links {
    font-size: 20px;
    line-height: 28px;
    color: green;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;

}

.link-active {
    text-decoration: underline;
    margin-left: 0px;
}

.link-contacts {
    margin-right: 0px;
}